.card {
  background-color: var(--second-color) !important;
}

.badge {
  top: 8px;
  left: 20px;
}

@media (max-width: 992px) {
  .rounded-top-lg.rounded-start {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .rounded-top-md.rounded-start {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    overflow: hidden;
  }
}
